doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Frontpage - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container.px-5
                a.navbar-brand(href='#!') Start Bootstrap
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#!') Home
                        li.nav-item
                            a.nav-link(href='#!') About
                        li.nav-item
                            a.nav-link(href='#!') Contact
                        li.nav-item
                            a.nav-link(href='#!') Services

        // Header
        header.bg-dark.py-5
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-lg-6
                        .text-center.my-5
                            h1.display-5.fw-bolder.text-white.mb-2 Present your business in a whole new way
                            p.lead.text-white-50.mb-4 Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit! 
                            .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#features') Get Started
                                a.btn.btn-outline-light.btn-lg.px-4(href='#!') Learn More

        // Features section
        section#features.py-5.border-bottom
            .container.px-5.my-5
                .row.gx-5
                    .col-lg-4.mb-5.mb-lg-0
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-collection
                        h2.h4.fw-bolder Featured title
                        p
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                        a.text-decoration-none(href='#!')
                            | Call to action
                            i.bi.bi-arrow-right
                    .col-lg-4.mb-5.mb-lg-0
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-building
                        h2.h4.fw-bolder Featured title
                        p
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                        a.text-decoration-none(href='#!')
                            | Call to action
                            i.bi.bi-arrow-right
                    .col-lg-4
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-toggles2
                        h2.h4.fw-bolder Featured title
                        p
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                        a.text-decoration-none(href='#!')
                            | Call to action
                            i.bi.bi-arrow-right

        // Pricing section
        section.bg-light.py-5.border-bottom
            .container.px-5.my-5
                .text-center.mb-5
                    h2.fw-bolder Pay as you grow
                    p.lead.mb-0 With our no hassle pricing plans
                .row.gx-5.justify-content-center
                    // Pricing card free
                    .col-lg-6.col-xl-4
                        .card.mb-5.mb-xl-0
                            .card-body.p-5
                                .small.text-uppercase.fw-bold.text-muted Free
                                .mb-3
                                    span.display-4.fw-bold $0
                                    span.text-muted / mo.
                                ul.list-unstyled.mb-4
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        strong 1 users
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | 5GB storage
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Unlimited public projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Community access
                                    li.mb-2.text-muted
                                        i.bi.bi-x
                                        | Unlimited private projects
                                    li.mb-2.text-muted
                                        i.bi.bi-x
                                        | Dedicated support
                                    li.mb-2.text-muted
                                        i.bi.bi-x
                                        | Free linked domain
                                    li.text-muted
                                        i.bi.bi-x
                                        | Monthly status reports
                                .d-grid
                                    a.btn.btn-outline-primary(href='#!') Choose plan
                    // Pricing card pro
                    .col-lg-6.col-xl-4
                        .card.mb-5.mb-xl-0
                            .card-body.p-5
                                .small.text-uppercase.fw-bold
                                    i.bi.bi-star-fill.text-warning
                                    | Pro
                                .mb-3
                                    span.display-4.fw-bold $9
                                    span.text-muted / mo.
                                ul.list-unstyled.mb-4
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        strong 5 users
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | 5GB storage
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Unlimited public projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Community access
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Unlimited private projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Dedicated support
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Free linked domain
                                    li.text-muted
                                        i.bi.bi-x
                                        | Monthly status reports
                                .d-grid
                                    a.btn.btn-primary(href='#!') Choose plan
                    // Pricing card enterprise
                    .col-lg-6.col-xl-4
                        .card
                            .card-body.p-5
                                .small.text-uppercase.fw-bold.text-muted Enterprise
                                .mb-3
                                    span.display-4.fw-bold $49
                                    span.text-muted / mo.
                                ul.list-unstyled.mb-4
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        strong Unlimited users
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | 5GB storage
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Unlimited public projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Community access
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Unlimited private projects
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        | Dedicated support
                                    li.mb-2
                                        i.bi.bi-check.text-primary
                                        strong Unlimited
                                        | linked domains
                                    li.text-muted
                                        i.bi.bi-check.text-primary
                                        | Monthly status reports
                                .d-grid
                                    a.btn.btn-outline-primary(href='#!') Choose plan

        // Testimonials section
        section.py-5.border-bottom
            .container.px-5.my-5.px-5
                .text-center.mb-5
                    h2.fw-bolder Customer testimonials
                    p.lead.mb-0 Our customers love working with us
                .row.gx-5.justify-content-center
                    .col-lg-6
                        // Testimonial 1
                        .card.mb-4
                            .card-body.p-4
                                .d-flex
                                    .flex-shrink-0
                                        i.bi.bi-chat-right-quote-fill.text-primary.fs-1
                                    .ms-4
                                        p.mb-1 Thank you for putting together such a great product. We loved working with you and the whole team, and we will be recommending you to others!
                                        .small.text-muted - Client Name, Location
                        // Testimonial 2
                        .card
                            .card-body.p-4
                                .d-flex
                                    .flex-shrink-0
                                        i.bi.bi-chat-right-quote-fill.text-primary.fs-1
                                    .ms-4
                                        p.mb-1 The whole team was a huge help with putting things together for our company and brand. We will be hiring them again in the near future for additional work!
                                        .small.text-muted - Client Name, Location

        // Contact section
        section.bg-light.py-5
            .container.px-5.my-5.px-5
                .text-center.mb-5
                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                        i.bi.bi-envelope
                    h2.fw-bolder Get in touch
                    p.lead.mb-0 We'd love to hear from you
                .row.gx-5.justify-content-center
                    .col-lg-6

                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!

                        form#contactForm(data-sb-form-api-token='API_TOKEN')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...'
                                    data-sb-validations='required'
                                )
                                label(for='name') Full name
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.
                            
                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com'
                                    data-sb-validations='required,email'
                                )
                                label(for='email') Email address
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.
                            
                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='(123) 456-7890'
                                    data-sb-validations='required'
                                )
                                label(for='phone') Phone number
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.
                            
                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;'
                                    data-sb-validations='required'
                                )
                                label(for='message') Message
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted
                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Form submission successful!
                                    | To activate this form, sign up at
                                    br
                                    a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form
                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Error sending message!

                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Submit

        // Footer
        footer.py-5.bg-dark
            .container.px-5
                p.m-0.text-center.text-white Copyright &copy; Your Website 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
